

 body {
    margin: 0;
    padding: 0;
}

 .segona p {
     color: palevioletred;
     font-size: 20px;
     background-color: palegoldenrod;
     border-radius: 10px;
     padding: 0 20px;
     
    
 }

 .header {
     display: flex;
     direction: row;
     justify-content: space-around;
     background-color: palevioletred;
 }

 .hero {
   display: flex;
   justify-content: center;
 }

 .segona{
   display: flex;
   direction: column;
   justify-content: center;
    gap: 20px;
    
 }


 .buscador {
    
   display: flex;
   direction: column;
   justify-content: space-around;
   gap: 15px;
   background-color: paleturquoise;
   border-radius: 15px;
   padding: 2px 30px;
   
   
 }
 